rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {


    //  Colección de contactos (formulario)
    match /contacts/{doc} {
      allow read: if false;
      allow write: if false;
    }
    //  Colección de productos tienda
    match /products/{doc} {
      allow read: if true;
      allow write: if isAdmin();
    }

    //  Colección de patrones
    match /patterns/{doc} {
      allow read: if true;
      allow write: if isAdmin();
    }

    //  Colección de galeria
    match /gallery/{doc} {
      allow read: if true;
      allow write: if isAdmin();
    }
    //  Usuarios
    match /users/{userId} {
      allow read: if isOwner(userId);
      allow create: if request.auth != null
            && request.auth.uid == userId;

      allow update: if request.auth != null
            && request.auth.uid == userId
            && !('role' in request.resource.data);
    }

    // Carrito
    match /carts/{userId} {
      allow read, create, update: if isOwner(userId);                  
      allow delete: if isOwner(userId);
    }

    //Pedidos
    match /orders/{orderId} {
      allow read: if request.auth != null && resource.data.uid == request.auth.uid;
      allow write: if false;
    }
    
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
    function isSignedIn() {
      return request.auth != null;
    }
    function isAdmin() {
      return isSignedIn() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
    }

    // (Opcional) otras colecciones
    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}