<div *ngIf="items$ | async as items">
    <div *ngFor="let item of items" class="item" class="listaPatrones">
        <div class="patron">
            <img [src]="item.imageUrl" [alt]="item.title" class="img-patron">
            <h2>{{ item.title }}</h2>
            <p>{{item.subtitle}}</p>               
            <p>Dificultad: {{item.difficulty}}</p>
            <button class="grafico btn btn-secondary" (click)="viewPattern(item)">Ver patrón</button>   
        </div>            
    </div>
</div>





