<form (ngSubmit)="register()">
  <div>
    <label for="displayName">Nombre de usuario:</label>
    <input type="text" [(ngModel)]="displayName" name="displayName" required>
  </div>
  <div>
    <label for="email">Correo electrónico:</label>
    <input type="email" [(ngModel)]="email" name="email" required>
  </div>
  <div>
    <label for="password">Contraseña:</label>
    <input type="password" [(ngModel)]="password" name="password" required minlength="6" maxlength="20">
    <label for="confirmPassword">Confirmar contraseña:</label>
    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required minlength="6" maxlength="20">
  </div>
  <button type="submit">Registrar</button>
  <label class="legal-check">
  <input type="checkbox" required name="acceptPrivacy" [(ngModel)]="acceptPrivacy">
  He leído y acepto la
  <a [routerLink]="['/privacidad']" target="_blank">política de privacidad</a>
</label>
  <div class="popup" *ngIf="showMessage">
    Usuario registrado correctamente. Comprueba tu correo para verificar tu cuenta.
  </div>

  <p class="error-message" *ngIf="error">{{ error }}</p>
</form>