
.menu_principal{
  display: flex;
  justify-content:space-between;
  background-color: #ece7648c;
  width:fit-content;
  border-radius: 25px;
  margin:auto;
}

nav.menu_principal ul {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

nav.menu_principal ul>li {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  line-height: 30px;

}

nav.menu_principal ul>li>a {
  text-decoration: none;
  color: black;
}

/* Estilos para el menú desplegable */

button {
  background-color: #ece76400;
  border: none;
  cursor: pointer;/*Cambia el cursor al pasar por encima */
  border-radius: 30px;

}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;/* Oculta el menú por defecto */
  position: absolute;
  top: calc(100% + 1px);/* Coloca el menú debajo del botón */
  left: 0;
  background-color: #ece76452;
  min-width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
  white-space: nowrap; /* Evita el salto de línea */
  border-radius: 30px;
}

.dropdown-content a{
  padding: 2px 16px;
  text-decoration: none;
  color: black;
}

/* Cuando isOpen es true, muestra el menú */
.dropdown-content.show {
  display: inline-block;
  justify-content: space-around;
}

/********** Estilos para el menú de usuario **********/
.user-dropdown {
  position: relative;
  display: block;
}

/* Cuando isOpen es true, muestra el menú */
.dropdown-user-content.show {
  display: block;
}
.dropdown-user-content a {
  display: block;
  padding: 2px ;
  text-decoration: none;
  color: black;
}

.dropdown-user-content a:hover,
.dropdown-user-content button:hover {
  text-shadow: 0 0 5px #BA04FD;
  border-radius: 15px;
}

.dropdown-user-content {
  display: none; /* Oculta el menú por defecto */
  position: absolute;
  top: calc(100% + 1px); /* Coloca el menú debajo del botón */
  left: 50px;
  background-color: #ece764af;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
  white-space: nowrap; /* Evita el salto de línea */
  border-radius: 30px;
  padding: 2px 16px;
}



