<nav class="menu_principal">

	<ul>
		<li><a [routerLinkActive]="['seleccionado']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']"
				(click)="isOpen=false; userMenuOpen=false">Inicio</a></li>
		<li class="dropdown">Guías
			<button (click)="toggleMenu()"><img src="images/flecha-desplegable.png" alt="flecha"
					class="flecha" /></button>
			<div class="dropdown-content" [class.show]="isOpen">
				<a [routerLinkActive]="['seleccionado']" [routerLink]="['/guias/materiales']">Materiales</a>
				<a href="#">Puntadas</a>
				<a href="#">Primeros pasos</a>
			</div>
		</li>

		<li><a [routerLinkActive]="['seleccionado']" [routerLink]="['/galeria']" (click)="isOpen=false; userMenuOpen=false">Galería</a></li>
		<li><a [routerLinkActive]="['seleccionado']" [routerLink]="['/patrones']" (click)="isOpen=false; userMenuOpen=false">Patrones
				gratis</a></li>
		<li><a [routerLinkActive]="['seleccionado']" [routerLink]="['/tienda']" (click)="isOpen=false; userMenuOpen=false">Tienda</a></li>
		<li class="user-dropdown">
			<div  *ngIf="profile$ | async as profile; else login">
				Bienvenido 
				<button (click)="toggleUserMenu()">{{ profile.nickname }}</button>
				<div class="dropdown-user-content" [class.show]="userMenuOpen">
					<a [routerLinkActive]="['seleccionado']" [routerLink]="['/perfil']" (click)="isOpen=false; userMenuOpen=false">Perfil</a>
					<a [routerLinkActive]="['seleccionado']" [routerLink]="['/mis-pedidos']" (click)="isOpen=false; userMenuOpen=false">Mis pedidos</a>
					<button (click)="logout()">Logout</button>
					
				</div>			
			</div>
			<ng-template #login>
				<a routerLink="/login">Login</a>
			</ng-template>
		</li>
	</ul>
</nav>