<main>
    <aside>
        <a [routerLink]="['/patrones']">
            <h2>Últimos patrones añadidos</h2>
            <div *ngFor="let pattern of patterns$ | async" class="novedades">
                <div class="novedad_bloque">
                    <div class=" novedad_info">
                        <h3>{{ pattern.title }}</h3>
                        <p>{{ pattern.subtitle }}</p>
                    </div>
                    <img [src]="pattern.imageUrl" alt={{pattern.title}} />
                </div>

            </div>
        </a>
    </aside>

    <section class="presentacion" *ngIf="homeContent$ | async as content">
        <h1>{{ content.welcomeTitle }}</h1>
        <h4 [innerHTML]="content.welcomeText"></h4>
    </section>
    <aside>
        <a [routerLink]="['/tienda']">
            <h2>Novedades en Tienda</h2>
            <div *ngFor="let product of products$ | async" class="novedades">
                <div class="novedad_bloque">
                    <div class=" novedad_info">
                        <h3>{{ product.title }}</h3>
                        <p>{{ product.price }} €</p>
                    </div>
                    <img [src]="product.imageUrl" alt={{product.title}} />
                </div>

            </div>
        </a>
    </aside>
</main>